@import 'btn-variable.scss';
.sm-btn.primary {
  background-color: $primary;
  border-color: $primary;
  width: 100px;
}
.sm-btn.warning {
  background-color: $warning;
  border-color: $warning;
  width: 100px;
}