@import 
  
  // Custom
  "custom",

  // Variables
  "variables",
  
  // Variables
  "global",
  
  // Mixins
  "mixins",
  
  // Function
  "function/_set-text-color",
  
  // Icon
  "icon/icon-font",

  // Components
  "components/button",
  "components/check",
  "components/switch",
  "components/form",
  "components/select",
  "components/cell",
  "components/header",
  "components/tabbar",
  "components/panel",
  "components/badge",
  "components/flex",
  "components/space",
  "components/grid",
  "components/actionsheet",
  "components/toast",
  "components/dialog",
  "components/message",
  "components/picker",
  "components/navbar",
  "components/searchbar",
  "components/swiper",
  "components/avatar",
  "components/flexText",
  "components/alert",
  "components/image",
  "components/article";



/*page padd*/
.sm-container{
  padding: 0 0;
  background-color: $body-bg;
}
.sm-container.isTb{
  padding-bottom: 51px;
}
.sm-container.isHd{
  padding-top: 44px;
}

.app-status {
  fill: set-text-color($header-bg) !important;
  color: set-text-color($header-bg);
  background-color: $header-bg !important;
}
.app-status span:before,
.app-status span i:nth-child(1):before,
.app-status span i:nth-child(1):after,
.app-status em i:after,
.app-status em:after{
  background-color: set-text-color($header-bg) !important;
}
.app-status span i:nth-child(2):before,
.app-status span i:nth-child(2):after,
.app-status em i:before{
  border: 1px solid set-text-color($header-bg) !important;
}

.primary-color{
  color: $brand-primary  !important;
}
