<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>Document</title>
<script src="../js/jquery-3.2.1.min.js"></script>
<script>


</script>
</head>
<body>
<div id="example">
    
    
    <button @click="compLength">查看组件的数量</button> 
    
    <todo-item :todo="list" v-for="(list,index) in lists" v-if="seen" :index="index"></todo-item>
    
    <component v-bind:is="compname" keep-alive></component>
 
</div>


<script src="../js/vue.js"></script>
<script>
//新建一个组件
Vue.component("todo-item",{
    props: ["todo","index"],//设置组件的属性
    template: '<div>{{index}}、this is a {{todo.text}}</div>'
})

//创建实例
  var vm = new Vue({
    el: '#example',
    data:{
       seen: true,  //添加或删除组件
       lists: [
         {
          text: "one"
         },
         {
          text: "two"
         }
       ],
       compname: "first"
    },
    methods: {
      compLength: function(event){
        this.compname = "second"
        event.target.innerHTML = this.$children.length
      }
    },
    components: {
      first: { //第一个子组件  
         template: "<div>这里是子组件1</div>"  
      },
      second: { //第二个子组件  
         template: "<div>这里是子组件2</div>"  
      }  
    }
  })
</script>
</body>
</html>