<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>Document</title>
<script src="../js/jquery-3.2.1.min.js"></script>
</head>
<body>
<div id="example">
  <!--v-bind-->
   <span v-bind:title="firstName">鼠标滑过</span>

  <!--计算属性-->
  首 : {{firstName}}
  尾 : {{lastName}}

  计算属性: <span>{{fullName}}</span>
  <div></div>
  <!--checkbox radio-->
  <input type="checkbox" id="jack" value="jack" v-model="checkedNames" v-on:keydown.delete="delDom">
  <label for="jack">jack</label>
  <input type="checkbox" id="mike" value="mike" v-model="checkedNames">
  <label for="mike">mike</label>
  select: {{checkedNames}}
  <div></div>
  <!--点击获取当前dom，特殊变量$event，可以做参数-->
  <button style="width:100px; height:30px;" v-on:click = "getDom">获取dom</button>
   
  <a href="#" v-on:keyup.delete="delDom">获得焦点</a>
</div>


</body>
<script src="../js/vue.js"></script>
<script>
      //创建实例
      var vm = new Vue({
        el: '#example',
        data: {
          firstName: 'Foo',
          lastName: 'Bar',
          checkedNames: ["a","c"]
        },
        computed: {
          fullName: {
            // getter
            get: function () {
              return this.firstName + ' ' + this.lastName
            },
            // setter
            set: function (newValue) {
              var names = newValue.split(' ')
              this.firstName = names[0]
              this.lastName = names[names.length - 1]
            }
          }
        },
        methods: {
           //获取当前对象
           getDom: function(event){
             alert(event.target.style.height)
           },
           //删除当前对象
           delDom: function(event){
              event.target.remove()
           }
        }
      })

</script>
</html>