<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>Document</title>
<script src="../js/jquery-3.2.1.min.js"></script>
<style>
  .pl{
    padding-left: 30px;
  }
  .notice{
    background-color: #f60;
    color: #fff;
    display: inline-block;
    padding: 3px;
    border-radius: 3px;
  }
  </style>
</head>
<body>

<div id="app">
   <!--输入框 v-model修饰符 lazy,number,trim-->
   <h3>1、输入框</h3>
   <div>
     实时变化：<input type="text" v-model="txt">
   </div>
   <div>
     失去焦点后变化：<input type="text" v-model.lazy="txt">
   </div>
   <div>
     去掉空格：<input type="text" v-model.trim="txt">
   </div>
   <div>
      <span class="notice">注意</span> debounce在vue2.0被弃用，可以用方法来代替
      <input type="text" @input="debounceInput" >
      <span>{{filterKey}}</span> 
   </div>
   <div>
     <!--去数字：<input type="number" v-model.number="txt">-->
   </div>
   <span>你输入的是：{{txt}}；</span>
   
   
   <!--多选框-->
   <h3>2、多选框</h3>
   <label>
     <input type="checkbox" value="jquery" v-model="language">jquery
   </label>
   <label>
     <input type="checkbox"  value="vue" v-model="language">vue
   </label>
   <label>
     <input type="checkbox" value="webpack" v-model="language">webpack
   </label>
   <span class="pl">你共选择了：{{language}}</span>
   
   <h5>checked判断</h5><!--checked判断-->
   <input type="checkbox" v-model="checked">
   {{checked ? "yes" : "no"}}
   
   
   <!--单选框-->
   <h3>3、单选框</h3>
   <label>
     <input type="radio" name="sex" value="男" v-model="sex">男
   </label>
   <label>
     <input type="radio" name="sex" value="女" v-model="sex">女
   </label>
   <span class="pl">你选择性别：{{sex}}</span>
   
   <h5>选中多组单选框</h5><!--选中多组单选框 watch-->
   <label>
     <input type="radio" value="html5"  v-model="myCheck">html5
   </label>
   <label>
     <input type="radio" value="css3"  v-model="myCheck">css3
   </label>
   <label>
     <input type="radio" value="chrome"  v-model="myCheck">chrome
   </label>
   <span class="pl">选中多组:{{arr}}</span>
   
   <h5>绑定值到vue实例的动态属性</h5><!--绑定值到vue实例的动态属性-->
   <label>
     <input type="radio" v-model="myCheck" v-bind:value="vmval">动态绑定
   </label>
   
   
   <!--下拉框-->
   <h3>4、下拉框</h3>
   <select v-model="selected">
     <option v-for="option in options" v-bind:value="option.value">
       {{ option.text }}
     </option>
   </select>
   <span>Selected: {{ selected }}</span>
   
   <h5>对象字面量</h5><!--对象字面量-->
   <select v-model="selected2">
     <option v-bind:value="{ number: 123 }">123</option>
   </select>
   {{selected2.number}}
   
   <!--便捷的修饰符-->
   <h3>5、便捷的修饰符</h3>
   只在按下回车键的时候触发事件：<input @keyup.enter="submit">
   
</div>
<script src="../js/vue.js"></script>

<script>

var vm = new Vue({
  el: '#app',
  data: {
    sex: "男",
    language: [],
    txt: "",
    filterKey: "",
    checked: true,
    myCheck: '',
    arr: [], //用来存放每一次点击的value
    selected: 'A',
    selected2: '',
    options: [
      { text: 'One', value: 'A' },
      { text: 'Two', value: 'B' },
      { text: 'Three', value: 'C' }
    ],
    vmval: "vue实例值"
  },
  methods:{
    /*便捷的修饰符*/
    submit:function(){
      alert("提交")
    },
    
    /*延迟1秒生效*/
    debounceInput: function(event){
      var _this = this
      setTimeout(function(){
        _this.txt = event.target.value
      }, 1000)
    }
  },
  watch:{
    myCheck: function(){
      this.arr.push(this.myCheck)
    }
  }
})
</script>
</body>
</html>