<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>creator</title>
<link rel="stylesheet" href="/stylesheets/smui.css">
<link rel="stylesheet" href="/stylesheets/creator.css">
<link rel="stylesheet" href="/stylesheets/override.css">
<script src="/javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/javascripts/jqColorPicker.min.js"></script>
<script src="/javascripts/store.js"></script>
<style>
  html,body{
    height: 100%;
    overflow: hidden;
  } 
</style>
<script>
$(function(){
  /*dropdown-menu*/
  $(".dropdown > a").each(function(){
    $(this).click(function(){
      $(this).parent().toggleClass("open")
      $(".mask-c").toggle()
    })
  })
  
	//hide mask,hide dropdown
	$(".mask-c, .dropdown-menu li").on("click",function(e){
			e.stopPropagation()
		  $(".dropdown").removeClass("open")
			$(".mask-c").hide()
	})
  
  //choose deivce
  $("#device .dropdown-menu li").on("click",function(){
    var deviceType = $(this).text()
    var deviceWidth = $(this).attr("data-width")
    var deviceHeight = $(this).attr("data-height")
    $("#device a").text(deviceType)
    $("#simulator").css({ "width": deviceWidth })
    $("#simulator").css({ "height": deviceHeight })
  })
  
  //orientation
  $("#orientation").on("click",function(){
    $("#simulator").css({ "width": $("#simulator").height() + 'px' })
    $("#simulator").css({ "height": $("#simulator").width() + 'px' })
  })
  
  
  //modal for theme
	$("#openModal").on("click",function(){
		$("#modal-theme").addClass("in")
		$(".modal-mask").addClass("in")
	})
	$(".icon-modal-close, .btn-cancel").on("click",function(){
		 $(this).parents('.modal').removeClass("in")
     $(".modal-mask").removeClass("in")
	})
  
  //modal close
	$(".icon-modal-close").on("click",function(){
		 $(this).parents('.modal').removeClass("in")
     $(".modal-mask").removeClass("in")
	})
  
  //tinycolorPicker
  getColor()
  $("#theme-color dl").each(function(){
    $(this).find('input').eq(0).keyup(function(){
      getColor()
    })
  })
  function getColor(){
    $('.color').colorPicker({
      renderCallback: function($elm, toggled) {
        $elm.prev().focus()
        var cls = $elm.attr("name")
        vm.themes[cls] = $elm.val()
      }
    })
  }
 


	
})
</script>
<html>

</html>
</head>
<body>
<span id="app">
<!--modal theme-->
<div class="modal" id="modal-theme">
  <div class="modal-header">
    <h3>teminging</h3>
    <i class="icon-modal-close"></i>
  </div>
  <div class="modal-body">
    <div class="modal-tabs">
      <ul>
        <li class="active" title="自定义风格"><i class="icon-theme"></i>Custom</li>
        <li>WeChat</li>
      </ul>
    </div>
    <div class="modal-content">
      <!--custom theme-->
      <form action="http://10.168.1.91:3000/" method="post">
      <div class="theme-box">
        <div class="theme-list">
          <ul>
            <li class="active" title="">Theme Color</li>
            <li>Page and Header</li>
            <li>Typography</li>
          </ul>
        </div>
        <div class="theme-detail" id="theme-color">
          <div>
            <dl>
              <dt>Primary</dt>
              <dd>
                <input type="text" v-model="themes.primary">
                <input type="text" name="primary" class="color" v-model="themes.primary">
              </dd>
            </dl>
            <dl>
              <dt>Warning</dt>
              <dd>
                <input type="text" v-model="themes.warning">
                <input type="text" name="warning" class="color" v-model="themes.warning">
              </dd>
            </dl>
          </div>
        </div>
        <!--modal-footer-->
        <div class="modal-footer">
          <div class="pull-left">
            <button class="btn-restore">Restore defaults</button>
          </div>
          <div class="pull-right">
            <input type="button" class="btn" value="Cancel">
            <input type="submit" class="btn-ok" value="Save">
          </div>
        </div>
        <!--//modal-footer-->
      </div>
      </form>
      <!--//custom theme-->
    </div>
  </div>
</div>
<!--//modal theme-->
<!--modal delete page-->
<div class="modal modal-page" id="modal-page">
  <div class="modal-header">
    <h3>Delete Page</h3>
    <i class="icon-modal-close"></i>
  </div>
  <div class="modal-body">
    Are you sure you want to delete this page?
  </div>
  <div class="modal-footer">
    <div class="pull-right">
      <input type="button" class="btn btn-cancel" value="Cancel">
      <input type="submit" class="btn-danger" value="Delete Page" @click="delectPageConfirm">
    </div>
  </div>
</div>
<!--//modal delete page-->
<!--modal iconfont show-->
<div class="modal bgw" id="modal-iconfont">
  <div class="modal-header">
    <h3>Select Icon</h3>
    <i class="icon-modal-close"></i>
  </div>
  <div class="modal-body iconfont-show bgw">
    
  </div>
</div>
<!--//modal iconfont show-->
<div class="modal-mask"></div>
<!--header-->
<header style="opacity: .3">
  <div class="header-left" >
    <i class="logo icon-h"></i>
    <span>Smui creator</span>
    <!--<button class="save icon-h" title="save"></button>-->
  </div>
  <div class="navbar">
    <a href="#" class="build active" title="creator"></a>
    <a href="#" class="preview" title="preview"></a>
  </div>
  <div class="header-right">
    <ul>
      <li id="openModal"><i class="theme icon-h" title="themes"></i></li>
      <li @click="submit"><i class="export icon-h"  title="export"></i></li>
      <li><i class="help icon-h"  title="help"></i></li>
      <li><i class="user icon-h"  title="user" @click="undoThis"></i></li>
    </ul>
  </div>
</header>
<!--//header-->
<!--container-->
<section class="container" style="opacity: 1.7">
  <aside class="aside-bar" style="opacity: 0.3; display:">
    <!--pages-->
    <div class="pages">
      <h3 class="title"><span>Pages</span> <button id="addpages" @click="addPage"><i class="new-page"></i>Add Page</button></h3>
      <div class="page-list">
        <ul>
          <li v-for="(page,index) in pages" @click="selectPage($event,index)" :id="page.id" :class="{active: pageIdx==index}">
            <a href="javascript:;"><i class="icon-page"></i><em>{{page.name}}</em> <span class="del-page" @click="delectPage" title="delete"></span></a>
          </li>
        </ul>
      </div>
    </div>
    <!--//pages-->
    <!--component-->
    <div class="component-wrap" style="opacity: 0.5">
      <h3 class="title">Components</h3>
      <div class="component">
        <ul>
          <li><i class="heading"></i>Heading</li>
          <li @click="addBtnComp('btnComp', 'warning', '警告')"><i class="button"></i>Button</li>
          <li @click="addHtmlComp('htmlComp')"><i class="button-bar"></i>Button Bar</li>
          <li><i class="checkbox"></i>Checkbox</li>
          <li><i class="radio"></i>Radio</li>
          <li><i class="input"></i>Input</li>
          <li><i class="select"></i>Select</li>
          <li><i class="toggle"></i>Toggle</li>
          <li><i class="search"></i>Search</li>
          <li><i class="textarea"></i>Textarea</li>
          <li><i class="slider"></i>Slider</li>
          <li><i class="range"></i>Range</li>
        </ul>
      </div>
    </div>
    <!--//component-->
  </aside>
  <!--content-->
  <section class="content" style="opacity: .3">
    <!--device bar-->
    <h3 class="device-bar">
      <div class="choose-device">
        Device
        <div class="dropdown device-dropdown" id="device">
          <a href="javascript:void(0)">iPhone5</a>
          <ul class="dropdown-menu">
            <li data-width="320" data-height="568">iPhone5</li>
            <li data-width="375" data-height="667">iPhone6</li>
            <li data-width="414" data-height="736">iPhone6 Plus</li>
            <li data-width="360" data-height="640">360x640</li>
            <li data-width="540" data-height="960">540x960</li>
          </ul>
        </div>
      </div>
      <div class="zoom-device">
        <i class="orientation" id="orientation" title="ratate orientation"></i>
        <div class="dropdown zoom-dropdown">
          <!--<a href="javascript:void(0)">100%</a>
          <ul class="dropdown-menu" style="display: none">
            <li>a</li>
          </ul>-->
        </div>
      </div>
    </h3>
    <!--mask-->
    <div class="mask-c"></div>
    <!--//device bar-->
    <!--simulator-->
    <div class="simulator-wrap">
      <div class="simulator" style="width: 320px; height: 568px" id="simulator" >
        <div class="app-status"></div>
        <form id="form-cvs" action="http://10.168.1.91:3000/output" method="post">
        <!--****************Canvas****************-->
        <div class="canvas" id="canvas" >
          <!--iconfont-->
          <link rel="stylesheet" :href=" 'https:' + iconfont ">
          <!--//iconfont-->          
          <!--sm-header-->
          <sm-header :title="pages[pageIdx].title" v-if="pages[pageIdx].isHeader" ></sm-header>
          <!--sm-header-->
          <!--vue comp-->
          <div class="sm-container" :class="{isHd: pages[pageIdx].isHeader, isTb: pages[pageIdx].isTabbar, isHdTb: (pages[pageIdx].isHeader == true && pages[pageIdx].isTabbar == true)}">
            <div class="select-box">
              <i @click="removeComp()" title="delete component"> &times;</i>
              <span @click="hideSelBox()" title="hide maskbox"></span>
            </div>
            <component v-bind:is="comp.name"  v-on:increment="selectComp($event, comp)" v-on:drag='drag($event)' v-on:dragover='handleDragover($event)' v-on:dragend="handleDragend($event)"  :comp="comp" :id="index" v-for="(comp, index) in comps"></component>
          </div>
          <!--//vue comp-->
          <!--sm-tabbar-->
          <sm-tabbar :tabbar="tabbar" v-if="pages[pageIdx].isTabbar" ></sm-tabbar>
          <!--sm-tabbar-->
          
        </div>
        <!--****************//Canvas****************-->
        </form>
      </div>
    </div>
    
    <!--//simulator-->
  </section>  
  <!--//content-->
  <!--proerty-->
  <aside class="property" style="opacity: .7">
    <h3 class="title path">
      <a href="#">index</a> <label>/</label> Button
    </h3>
    <div class="property-list">
      <!--**************button property**************-->
      <div v-if=" panelProp == 'btnComp'">
        <!--Link-->
        <div class="pro-item">
          <h3>
            Link <span class="caret"></span>
          </h3>
          <div class="pro-box"> 
            <div class="form-group">
              <select class="select">
                <option value="">select page</option>
                <option value="">list</option>
                <option value="">article</option>
                <option value="">contact</option>
              </select>
            </div>
          </div>
        </div>
        <div class="pro-item">
          <h3>
            Text <span class="caret"></span>
          </h3>
          <div class="pro-box">
            <div class="form-group">
              <input type="text" class="c-ipt" v-model="comps[compIdx].text">
            </div>
          </div>
        </div>
        <!--Style-->
        <div class="pro-item">
          <h3>
            Style <span class="caret"></span>
          </h3>
          <div class="pro-box">
            <div class="form-group">
              <label>Class</label>
              <div>
                <select class="select" v-model="comps[compIdx].class">
                  <option :value="cls" v-for="cls in classes">{{cls}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label>Size</label>
              <div>
                <select class="select">
                  <option value="">default</option>
                  <option value="">large</option>
                  <option value="">small</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--//**************button property**************-->
      <!--**************html property **************-->
      <div v-if=" panelProp == 'htmlComp'">
        <!--html-->
        <div class="pro-item">
          <h3 @click="toggleCls">
            html <span class="caret"></span>
          </h3>
          <div class="pro-box"> 
            <textarea v-model="comps[compIdx].vhtml" class="codeMirror opa1"></textarea>
          </div>
        </div>
        <!--css-->
        <div class="pro-item">
          <h3 @click="toggleCls">
            css <span class="caret"></span>
          </h3>
          <div class="pro-box"> 
            <textarea v-model="comps[compIdx].vcss" class="codeMirror" @scroll="codeScroll"></textarea>
            <span class="codeMirror codeMask" v-code-highlight="comps[compIdx].vcss"></span>
            <div class="attention">/*禁止光标在最后一行结尾处回车*/</div>
            <em title="fullscreen" class="icon-h fullscreen" @click="fullscreen"></em>
          </div>
        </div>
      </div>
      <!--//**************html property**************-->
      <!--**************page property**************-->
      <div v-if=" panelProp == 'page'">
        <!--page name-->
        <div class="pro-item">
          <div class="pro-box">
            <div class="form-group">
              <label>Name</label>
              <div>
                <input type="text" class="c-ipt" v-model="pages[pageIdx].name">
              </div>
            </div>
            <div class="form-group">
              <label>Header</label>
              <div class="tr">
                <input class="ct-switch" type="checkbox" v-model="pages[pageIdx].isHeader"/>
              </div>
            </div>
            <div class="form-group" v-if="pages[pageIdx].isHeader">
              <label>Title</label>
              <div>
                <input type="text" class="c-ipt" v-model="pages[pageIdx].title">
              </div>
            </div>
            <div class="form-group">
              <label>Tabbar</label>
              <div class="tr">
                <input class="ct-switch" type="checkbox" v-model="pages[pageIdx].isTabbar"/>
              </div>
            </div>
          </div>
        </div>
        <!--Tabbar-->
        <div class="pro-item"  v-if="pages[pageIdx].isTabbar">
          <h3 @click="toggleCls">
            Tabbar <span class="caret"></span>
          </h3>
          <div class="pro-box">
            <div class="form-group">
              <label>Tabs</label>
              <div>
                <select class="select" v-model="tabbar.number" >
                  <option v-for="i in tabbar.items.length" :value="i">{{i}}</option>
                </select>
              </div>
            </div>
            <div class="sub-group" v-for="(item, index) in tabbar.items.slice(0, tabbar.number)">
              <div class="form-group">
                <label>Title</label>
                <div>
                  <input type="text" class="c-ipt" placeholder="Title" v-model="item.title">
                </div>
              </div> 
              <div class="form-group">
                <label>Icon</label>
                <div class="choose-icon">
                  <i class="iconfont" :class="item.icon"></i>
                  <input type="text" class="c-ipt" placeholder="Icon" v-model="item.icon">
                  <button @click="chooseIcon($event)" :title="index"></button>
                </div>
              </div> 
              <div class="form-group">
                <label>icon active</label>
                <div class="choose-icon">
                  <i class="iconfont" :class="item.active"></i>
                  <input type="text" class="c-ipt" placeholder="" v-model="item.active">
                  <button @click="chooseIcon($event)" name="active" :title="index"></button>
                </div>
              </div>
              <div class="form-group">
                <label>linkto</label>
                <div>
                  <select class="select" v-model="item.linkto">
                    <option :value="page.name" v-for="page in pages.slice(0, pages.length-1)">{{page.name}}</option>
                    <option value="#">#</option>
                  </select>
                </div>
              </div> 
            </div> 
          </div>
        </div>
        <!--Iconfont-->
        <div class="pro-item">
          <h3>
            Iconfont
          </h3>
          <div class="pro-box">
            <div class="form-group">
              <input type="text" class="c-ipt" v-model="iconfont" >
            </div>
            <em class="remark">custom the icon to visit <a target="_blank" href="http://www.iconfont.cn">iconfont.cn</a></em>
          </div>
        </div>
      </div>
      <!--//**************page property**************-->
    </div>
  </aside>
  <!--//proerty-->
</section>
<!--//container-->

</span>
   
<script src="/javascripts//vue.js"></script>
<script src="/javascripts/codeHightLight.js"></script>
<script>

/******************按钮组件******************/
var ButtonComp = {
      props: ["comp", "id"],
      template: `<a href="javascript:;" 
                     class="sm-btn"
                     data-comp="drag-div"
                     v-bind:id="id"
                     v-bind:class="comp.class"
                     draggable="true" v-on:dragstart.stop="drag" v-on:dragover.prevent="dragover" v-on:dragend.prevent="dragend"
                     v-on:click = "increment" >{{ comp.text }}</a>
                `,
  
      methods: {
        increment: function(event){
          this.$emit('increment', event)   //触发v-on:increment，并传回当前对象event
        },
        drag: function(event){
          this.$emit('drag', event) 
        },
        dragover: function(event){
          this.$emit('dragover', event) 
        },
        dragend: function(event){
          this.$emit('dragend', event) 
        }
      }
    }

/******************自定义html组件******************/
var HtmlComp = {
      props: ["comp"],
      template: ` 
                  <div class="html-box" v-on:click = "increment" >
                   <span v-html="comp.vcss"></span>
                   <span class="box-wp" v-html="comp.vhtml"></span>
                  </div>
                `,
      methods: {
        increment: function(event){
          this.$emit('increment', event)  
        }
      }
    }

/*----------利用自定义指令处理高亮css代码----------*/
Vue.directive('codeHighlight', {
  bind(el, binding) {
    var code = binding.value
    el.innerHTML = codeHightLight(code)
  },
  update(el, binding){
    var code = binding.value
    el.innerHTML = codeHightLight(code)
  }
})

/******************sm-header组件******************/
Vue.component('sm-header', {
  props: ["title"],
  template: `
            <div class="sm-header">{{title}}</div>
            `
  })


/******************sm-tabbar组件******************/
Vue.component('sm-tabbar', {
  props: ["tabbar"],
  template: `
            <div class="sm-tabbar">
              <a :href="tab.linkto + '.html'" v-for="(tab, index) in tabbar.items.slice(0, tabbar.number)" :class ="{active: tabbar.items[index].active != ''}" >
                <i :class="tab.icon"></i>
                <i :class="tab.active"  v-if=" tabbar.items[index].active != ''"></i>
                <span>{{tab.title}}</span>
              </a>
            </div>
            `
})


/******************创建vue实例******************/
    
var vm = new Vue({
  el: '#app',
  components: {
    btnComp: ButtonComp,
    htmlComp: HtmlComp
  },
  data:{
    compIdx: 0,
    comps: [{}],
    panelProp: "page",
    classes:["primary", "warning"],
    themes: Store.fetch('themes-list', '{"primary": "#008AD5", "warning": "#E64340"}'),
    pages: Store.fetch('pages-list', '[{}]'),
    pageIdx: Store.fetch('pageIdx', 0),
    generateHtml: Store.fetch('html-list', '[{}]'),
    tabbar: Store.fetch('tabbar', '{"number": 4,"items": [{"icon": "icon-homepage", "title": "Home", "linkto": "#", "active": ""},{"icon": "icon-label", "title": "Category", "linkto": "#", "active": ""},{"icon": "icon-service", "title": "Service", "linkto": "#", "active": ""},{"icon": "icon-people", "title": "User", "linkto": "#", "active": ""}]}'),
    iconfont: Store.fetch('iconfont', '["//at.alicdn.com/t/font_378141_8cl3a5vspzo7p66r.css"]'),
    undo: {}
  },
  /*监听data*/
  watch: {
    comps: {
       handler: function(newVal){
         if(this.pages.length > 1){
            window.localStorage.setItem(this.pages[this.pageIdx].id , JSON.stringify(newVal))
         }
       },
       deep: true
    },
    themes: {
       handler: function(newVal){
          Store.save('themes-list', newVal)
       },
       deep: true
    },
    pages: {
       handler: function(newVal){
          Store.save('pages-list', newVal)
       },
       deep: true
    },
    pageIdx: {
       handler: function(newVal){
          Store.save('pageIdx', newVal)
       },
       deep: true
    },
    generateHtml: {
       handler: function(newVal){
          Store.save('html-list', newVal)
       },
       deep: true
    },
    tabbar: {
       handler: function(newVal){
          Store.save('tabbar', newVal)
       },
       deep: true
    },
    iconfont: {
       handler: function(newVal){
          Store.save('iconfont', newVal)
       },
       deep: true
    }
  },
  mounted:function() {
    this.$nextTick(function () {
      //初始化comps从localstorage中获取
      if(this.pages[this.pageIdx].id){
        this.comps  = Store.fetch(this.pages[this.pageIdx].id, '[{}]')
      }
    })
  },
  
  methods:{

    //添加按钮组件
    addBtnComp(comp, classname, text){
       this.comps.splice((this.comps.length-1), 0, {
           name: comp,
           class: classname,
           text: text + this.comps.length
         })
    },
    
    //添加html组件
    addHtmlComp(comp){
       this.comps.splice((this.comps.length-1), 0, {
           name: comp,
           vhtml: `<div class='box'>
请在右边编辑框中插入html,实时预览效果 →
</div>`,
           vcss: `<style>
.box{
  font-size: 12px;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 1px dashed #0cf;
}
</style>`
         })
    },
    //删除组件
    removeComp(){
      //undo:存储删除的comp信息
      this.undo = {}
      this.undo['type'] = "undoComp"
      this.undo['index'] = this.compIdx
      this.undo['compinfo'] = this.comps[this.compIdx]
      
      this.comps.splice(this.compIdx,1)
      $(".select-box").hide()
    },

    //隐藏select-box
    hideSelBox(){
      $(".select-box").hide()
    },

    //选择组件
    selectComp(event, obj){
      var ele = $(event.target)
       
      if(ele.parents(".html-box")[0]){ //捕获html片段的父元素,select-box可以选中这个组件所有
        ele = ele.parents(".html-box")
      } 
      var eleScrollTop = $(".sm-container").scrollTop()
      var marginTop = ele.css("margin-top") 
      marginTop = marginTop.substring(0, marginTop.length - 2)
      var eleTop = ele.position().top + eleScrollTop + parseInt(marginTop) //position的位置 + margin-top的值 + scrolltop，才是元素实际的top
      $(".select-box").show().css({top: eleTop, height: ele.outerHeight() + "px"})
      
      this.compIdx = this.comps.indexOf(obj)
      //选中组件的样式
      this.selectedCls = this.comps[this.compIdx].class
      
      //切换属性面板
      this.panelProp = this.comps[this.compIdx].name
      
      
    },
    //属性展开收缩
    toggleCls(event){
      var ele = $(event.target)
      ele.parents(".pro-item").toggleClass("category-toggle")
    },
    
    //监听html编辑器文本框滚动
    codeScroll(event){
      var ele = $(event.target)
      var domsctop = ele.scrollTop()
      var domscleft = ele.scrollLeft()
      $(".codeMask").scrollTop(domsctop).scrollLeft(domscleft)
    },
    
    //html编辑框全屏
    fullscreen(){
      $(".content").toggleClass("fs-cnt")
      $(".property").toggleClass("fs-prop")
      $(".fullscreen").toggleClass("fs-reset")
      this.hideSelBox()
    },
    
    /*===========================
      page列表操作
    =============================*/
    addPage(){
      this.pages.splice((this.pages.length - 1), 0, {
           name: "page" + this.pages.length,
           id: "page" + Math.round(Math.random() * 10000),
           title: "Title",
           isHeader: false,
           isTabbar: false
         })
      window.localStorage.setItem(this.pages[this.pages.length - 2 ].id, JSON.stringify([{}]))
      
      this.generateHtml.splice((this.generateHtml.length - 1), 0, {
           getHtml: "",
           getCss: ""
         })
    },    
    selectPage(event, pageIdx){
      var ele
      if (event.target.nodeName == "LI"){
         ele = $(event.target)
      }else{
         ele = $(event.target).parents("li")
      }
      
      this.pageIdx = pageIdx
      var liId = ele.attr("id")
      
      this.compIdx = 0 //在切换page的时候compIdx要重置0，不然会找不到对应的组件属性，如.text .class .vhtml等
      this.comps = JSON.parse(window.localStorage.getItem(liId))
      
      this.panelProp = "page"
      $(".select-box").hide()
      
    },    
    delectPageConfirm(){
      //undo:存储删除的page信息
      this.undo = {}
      this.undo['type'] = "undoPage"
      this.undo['index'] = this.pageIdx
      this.undo['pageinfo'] = this.pages[this.pageIdx]
      this.undo['pagecomps'] = Store.fetch(this.undo.pageinfo.id)
      this.undo['htmlinfo'] = this.generateHtml[this.pageIdx]
      
      //删除对应的generateHtml
      this.generateHtml.splice(this.pageIdx, 1)  
      
      //删除 page
      var ele = $(".page-list li").eq(this.pageIdx)
      this.pages.splice(this.pageIdx, 1)
      
      if(this.pageIdx == 0 && this.pages.length !=1){
        setTimeout(function(){ //如果没有延迟100ms，模拟器显示的是删除前的this.pages[0]的内容
          ele.trigger("click")
        },100)
      }else{
        ele.prev().trigger("click") //trigger对应的是LI元素，所以select中event.target也要是LI  
      }
      
      //删除 localstorage中的对应的page 内容    
      var liId = ele.attr("id") 
      window.localStorage.removeItem(liId)
      
      
      
      if(this.pages.length == 1){ //删除最后一个
        this.comps = [{}]
      }
      
      $("#modal-page").removeClass("in")
      $(".modal-mask").removeClass("in")
    },   
    delectPage(){
      $("#modal-page").addClass("in")
      $(".modal-mask").addClass("in")
    },
    submit(){
      
       var len = this.generateHtml.length - 1
       var pagecss = ""
       //将每个page的html赋值表单value
       $.each(this.generateHtml, function(i, item){
         
         if( i == len){
           return
         }else{
           if($("#phtml" + i)[0]){
             $("#phtml" + i).val(item.getHtml)
           }else{
             $("#form-cvs").append($('<input type="hidden" name="pagehtml">').attr({"value": item.getHtml,"id": "phtml" + i }))
           }
           pagecss += item.getCss
         }
       })
       //将每个page的"name"赋值表单value
       $.each(this.pages, function(i, item){
         if( i == len){
           return
         }else{
           if($("#pname" + i)[0]){
             $("#pname" + i).val(item.name)
           }else{
             $("#form-cvs").append($('<input type="hidden" name="pagename">').attr({"value": item.name,"id": "pname" + i }))
           }
        }
       })
       
       //所有的page的自定义的css合并在一起
       if($("#pcss")[0]){
         $("#pcss").val(pagecss)
       }else{
         $("#form-cvs").append($('<input type="hidden" name="pagecss">').attr({"value": pagecss, "id": "pcss"}))
       }
       
       Store.save('html-list', this.generateHtml)
       $("#form-cvs").submit()
    },
    
    /*===========================
      iconfont select
    =============================*/
    chooseIcon(event){
      var $el = $(event.target)
      $("#modal-iconfont").addClass("in")
      $(".modal-mask").addClass("in")
     
      $.ajax({  
        type:"get",  
        url:"https:" + this.iconfont, 
        success:function(data){  
          var arr = data.match(/i(\S*)before/g); //get classname from character i to before
          var iconlist = ''
          arr.forEach(function(item){ 
           var cls = item.substring(0, item.indexOf(":"))
           iconlist +=  "<i class=" + cls  + "></i>"
          }) 
          //click icon
          $(".iconfont-show").html(iconlist).find("i").on("click", function(){
            var tabbarIdx = $el.attr("title")
            var clsName = $(this).attr("class")
            var tabbarName = $el.attr("name")
            if( tabbarName != "active"){
              $el.prev().val(clsName)
              vm.tabbar.items[tabbarIdx].icon = clsName
            }else{
              $el.prev().val(clsName)
              vm.tabbar.items[tabbarIdx].active = clsName
            }
            $("#modal-iconfont").removeClass("in")
            $(".modal-mask").removeClass("in")
          })
        } 
      })
    },
    /*===========================
      undo:撤消
    =============================*/
    undoThis(){
      if(JSON.stringify(this.undo) == "{}"){
        return 
      }else{
        
        if(this.undo.type == "undoPage"){
          //undo:把删除的数据pages重新插入
          this.pages.splice(this.undo.index, 0, this.undo.pageinfo)
          this.generateHtml.splice(this.undo.index, 0, this.undo.htmlinfo)
          window.localStorage.setItem(this.undo.pageinfo.id, JSON.stringify(this.undo.pagecomps))
          /*删除的是第一个撤消时要trigger一下,新的第一个li*/
          if(this.undo.index == 0){
             setTimeout(function(){ 
              $(".page-list li").eq(0).trigger("click")
             },100)
          }
        }else if(this.undo.type == "undoComp"){
          //undo:把删除的数据pages重新插入
          this.comps.splice(this.undo.index, 0, this.undo.compinfo)
        }
        this.undo = {}
      }
    },
    /*===========================
      组件拖放排序
    =============================*/
    drag:function(event){
      //当前拖动的对象
      dom = event.currentTarget
      domId = $(dom).attr("id")
      $clonedom = $(dom).clone(true)
      cloneId =  $clonedom.attr("id")
      this.comps.forEach(function(val){
            console.log(val)
      }) 
    },
    handleDragover:function(event){ 
      //拖动经过时，添加拖动对象
      var ele = $(event.target).closest('[data-comp="drag-div"]')
      overId = ele.attr("id")
      $(dom).hide()
      $(".select-box").remove()
      if(cloneId < overId){
        ele.after($clonedom[0])
        cloneId++
      }else{
        ele.before($clonedom[0])
        cloneId--
      }
      //拖动经过时，设置拖动对象的样式
      $clonedom.css({"border":"1px dashed #5bc0de","opacity":"0.5"})
      cloneIndex =  $clonedom.index('[data-comp="drag-div"]:visible')
//      console.log(cloneIndex)

    },
    handleDragend:function(event){ 
      $clonedom.remove()
      $(dom).show()
//      this.comps.splice(cloneIndex, 0, this.comps.splice(domId, 1)[0])
      
      console.log("******************")
    },
    
  },
  updated:function() {
     /*
     * 在每个page生成的html中过滤html编辑生成冗余代码
     */
    var pageOfHtml = $("#canvas").clone()
    var pageOfCss = ""
   
    //获取css
    if(!pageOfHtml.find("style")){
      
      pageOfHtml.find("style").each(function(){
        pageOfCss += $(this).html()
      })
      this.generateHtml[this.pageIdx].getCss = pageOfCss
    }
    
    //获取html
    if(pageOfHtml.find(".html-box")){
      pageOfHtml.find(".html-box").each(function(){
        var boxWp = $(this).find(".box-wp")
        $(this).replaceWith(boxWp.children())
      })
    }
    //删除select box
    pageOfHtml.find(".select-box").remove()
    
    this.generateHtml[this.pageIdx].getHtml = pageOfHtml.html()
  },
  created:function(){
    
    //撤消快捷键ctrl+z
    let _this = this;
    document.onkeydown = function(){
      if(event.ctrlKey == true && event.keyCode == 90){
        if($(".c-ipt").is(":focus") || $("textarea").is(":focus")){
          return
        }else{
          event.preventDefault()
          _this.undoThis()
        }
      }
    }    
  }
})

  
</script>
</body>
</html>