/**
 * override smui
 * 在creator中能正常显示，但样式不保存到zip中
 */


/*sm-tabbar:修改position:static*/
.sm-tabbar{
	position: relative;
}
.sm-tabbar a{
	font-size: 12px;
}
.sm-tabbar a i{
	width: 22px;
	height: 22px;
}
.sm-tabbar:after{
	position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.00);
}
/*sm-container:修改滚动属性，是tabbar能固定底部*/
.sm-container{ 
  height: 100%;
  overflow: scroll; 
  padding: 10px;
}

/*sm-btn:修改尺寸，在creator按比例缩小*/
.sm-btn{
  font-size: 14px;
}
.sm-btn + .sm-btn{
  margin-top: 8px;
}
