@charset "UTF-8";
@font-face {
  font-family: 'smui';
  src: url("data:application/octet-stream;base64,AAEAAAALAIAAAwAwT1MvMg8SDdcAAAC8AAAAYGNtYXDwTsQhAAABHAAAAHRnYXNwAAAAEAAAAZAAAAAIZ2x5ZgREOiwAAAGYAAAC9GhlYWQMv8G8AAAEjAAAADZoaGVhB3kDygAABMQAAAAkaG10eBTuABoAAAToAAAAJGxvY2ECDAL0AAAFDAAAABRtYXhwAAwAOwAABSAAAAAgbmFtZZRjAgoAAAVAAAABYnBvc3QAAwAAAAAGpAAAACAAAwLSAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADx2wPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAWAAAABIAEAADAAIAAQAg8AXwB/BY8QTx2//9//8AAAAAACDwBfAH8FjxBPHb//3//wAB/+MP/w/+D64PAw4tAAMAAQAAAAAAAAAAAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAaA7cDpQAuAAABFAYPARMcARUUBiMiJiclBQ4BIyImNTQ2NRMnLgE1NDY3JRM+ATMyFhcTBR4BFQO3CQbPMQsMBgwF/v//AAYLBgwMATHQBQkVCwEfgAQPCQoPA4EBHwoWAkUIDgXL/uMDBgMLEQQDhoYDBBELAwYDAR3LBQ4IDQwBKgEECBAQCP78KgEMDQACAAAAAALbA24AFwArAAAlFAYjISImNTQ+AjMeATMyNjcyHgIVAxQOAiMiLgI1ND4CMzIeAgLbRzL+GDJIECpJOCNbNTRcIzhIKhCSIjxQLS5QOyMjO1AuLVA8Ipc+WVk+OXNdOyEoKCE7XXM5AfstUDwiIjxQLS5QOyMjO1AAAAIAAAAAA24DbgAkADgAAAE0Ji8BLgEjIgYPAScuASMiBg8BDgEVFBYfAR4BMzI2NwE+ATUXFA4CIyIuAjU0PgIzMh4CAt4FBjQFDQcIDQXpgQUOBwcOBTQFBQUFzwUOBwcOBQE2BgWQRXegW1ugd0VFd6BbW6B3RQITCA4FMwUGBgXogQUGBgU0BQ4HBw4FzwUFBQUBNwUNB1xboHdFRXegW1ugd0VFd6AAAAABABoAdQFmAq8AJAAAARQGDwEXHgEVFAYPAQ4BIyImJwEuATU0NjcBPgEzMhYfAR4BFQFmAwLh4QIDAwIdAwcDBAcC/vUCAwMCAQsCBwQDBwMdAgMCgAMIAuHgAwcDBAcDHAMDAwMBCgMHAwQHAgELAgMDAh0CBwQAAAAAAgAAAAADbgNuABQAKQAAASIOAhUUHgIzMj4CNTQuAiMBFA4CIyIuAjU0PgIzMTIeAgG3TIVjOjpjhUxLhmM6OmOGSwG3RXegW1ugd0VFd6BbW6B3RQMlOmOGS0yFYzo6Y4VMS4ZjOv6SW6B3RUV3oFtboHdFRXegAAAAAAEAAAABAAC3olxFXw889QALBAAAAAAA1PU+jQAAAADU9T6NAAAAAAO3A6UAAAAIAAIAAAAAAAAAAQAAA8D/wAAABAAAAAAAA7cAAQAAAAAAAAAAAAAAAAAAAAkEAAAAAAAAAAAAAAACAAAAA7cAAALbAAADbgAAAYAAGgNuAAAAAAAAAAoAFAAeAGgAqAD+ATwBegABAAAACQA5AAIAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEABAAAAAEAAAAAAAIABwBFAAEAAAAAAAMABAAtAAEAAAAAAAQABABaAAEAAAAAAAUACwAMAAEAAAAAAAYABAA5AAEAAAAAAAoAGgBmAAMAAQQJAAEACAAEAAMAAQQJAAIADgBMAAMAAQQJAAMACAAxAAMAAQQJAAQACABeAAMAAQQJAAUAFgAXAAMAAQQJAAYACAA9AAMAAQQJAAoANACAc211aQBzAG0AdQBpVmVyc2lvbiAxLjAAVgBlAHIAcwBpAG8AbgAgADEALgAwc211aQBzAG0AdQBpc211aQBzAG0AdQBpUmVndWxhcgBSAGUAZwB1AGwAYQByc211aQBzAG0AdQBpRm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==") format("truetype");
  font-weight: normal;
  font-style: normal; }

.iconfont {
  display: inline-block;
  vertical-align: middle;
  font-family: 'smui';
  font-style: normal;
  font-size: 23px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-star:before {
  color: #f60;
  content: "\f005"; }

.icon-user:before {
  content: "\f007"; }

.icon-check-circle:before {
  content: "\f058"; }

.icon-angle-left:before {
  content: "\f104"; }

.icon-circle-thin:before {
  content: "\f1db"; }

.icon-tb01 {
  content: ""; }

.sm-btn {
  position: relative;
  display: block;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  line-height: 2.875;
  border: 1px solid transparent;
  border-radius: 5px; }
  .sm-btn.disabled, .sm-btn:disabled {
    background-color: #F7F7F7 !important;
    color: rgba(0, 0, 0, 0.3) !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important; }

.sm-btn.primary {
  color: #fff;
  background-color: #4EA4F8;
  border-color: #4EA4F8; }
  .sm-btn.primary:active, .sm-btn.primary.active {
    color: rgba(255, 255, 255, 0.6);
    background-color: #3f9cf7;
    border-color: #3f9cf7; }

.sm-btn.warning {
  color: #fff;
  background-color: #E64340;
  border-color: #E64340; }
  .sm-btn.warning:active, .sm-btn.warning.active {
    color: rgba(255, 255, 255, 0.6);
    background-color: #e43632;
    border-color: #e43632; }

.sm-btn.outline-primary {
  color: #4EA4F8;
  background-color: transparent;
  border-color: #4EA4F8; }
  .sm-btn.outline-primary:active, .sm-btn.outline-primary.active {
    color: rgba(78, 164, 248, 0.6);
    border-color: rgba(78, 164, 248, 0.6); }

.sm-btn.outline-secondary {
  color: #363636;
  background-color: transparent;
  border-color: #363636; }
  .sm-btn.outline-secondary:active, .sm-btn.outline-secondary.active {
    color: rgba(54, 54, 54, 0.6);
    border-color: rgba(54, 54, 54, 0.6); }

.sm-btn.mini {
  display: inline-block;
  padding: 0 1.32em;
  line-height: 2.3;
  font-size: 13px; }

.sm-btn.link {
  display: inline-block;
  padding: 0;
  line-height: auto;
  color: #4EA4F8; }

button.sm-btn, input.sm-btn {
  width: 100%;
  outline: 0;
  -webkit-appearance: none; }
  button.sm-btn:focus, input.sm-btn:focus {
    outline: 0; }

.sm-btn + .sm-btn {
  margin-top: 15px; }

/*对话框15*/
.dialog {
  position: fixed;
  z-index: 9999;
  width: 80%;
  max-width: 300px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  overflow: hidden; }

.dialog .dialog-header {
  padding: 20px 10px 10px;
  font-size: 18px; }

.dialog .dialog-body {
  padding: 0 20px 20px;
  text-align: left;
  min-height: 140px;
  font-size: 15px;
  line-height: 1.3;
  color: #999; }

.dialog .dialog-footer {
  text-align: center;
  min-height: 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex; }

.sm-check-common, .sm-checkbox, .sm-radio {
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  margin: 0 5px; }
  .sm-check-common:checked:before, .sm-checkbox:checked:before, .sm-radio:checked:before {
    color: #f60; }
  .sm-check-common:before, .sm-checkbox:before, .sm-radio:before {
    font-family: 'smui';
    font-size: 23px;
    color: #ccc;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

/*checkbox*/
.sm-checkbox:checked:before {
  content: "\f007"; }

.sm-checkbox:before {
  content: "\f005"; }

/*radio*/
.sm-radio:checked:before {
  content: "\f058"; }

.sm-radio:before {
  content: "\f1db"; }

.sm-switch {
  position: relative;
  width: 52px;
  height: 32px;
  border: 1px solid #DFDFDF;
  outline: 0;
  border-radius: 16px;
  background-color: #DFDFDF;
  transition: background-color .1s, border .1s; }
  .sm-switch:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 30px;
    border-radius: 15px;
    background-color: #FDFDFD;
    transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1); }
  .sm-switch:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35); }

.sm-switch:checked {
  border-color: #78BB05;
  background-color: #78BB05; }
  .sm-switch:checked:before {
    transform: scale(0); }
  .sm-switch:checked:after {
    transform: translateX(20px); }

.sm-list-header {
  margin-top: .77em;
  margin-bottom: .3em;
  padding-left: 15px;
  padding-right: 15px;
  color: #999;
  font-size: 14px; }
  .sm-list-header + .sm-list {
    margin-top: 0; }

.sm-list {
  line-height: 44px;
  margin-top: 20px;
  font-size: 17px;
  background-color: #fff;
  border-top: 1px solid  #ddd;
  border-bottom: 1px solid  #ddd; }

.sm-list ul li .sm-list-cell {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 15px; }
  .sm-list ul li .sm-list-cell:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 15px;
    right: 0;
    height: 1px;
    border-top: 1px solid #ddd; }
  .sm-list ul li .sm-list-cell > div {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1; }
  .sm-list ul li .sm-list-cell > span {
    display: block;
    text-align: right;
    color: #999; }
  .sm-list ul li .sm-list-cell > span:after {
    content: " ";
    display: inline-block;
    height: 9px;
    width: 9px;
    border-width: 1px 1px 0 0;
    border-color: #C8C8CD;
    border-style: solid;
    margin-left: 5px;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0); }

.sm-list ul li:first-child .sm-list-cell:before {
  display: none; }

.sm-list ul li:active {
  background-color: #eee; }

.sm-list ul li.nolink span:after {
  display: none; }

.sm-list ul li.nolink:active {
  background-color: #fff; }

/**
 * Header 20170807
 * --------------------------------------------------
 */
.sm-header {
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  border-bottom: 1px solid  #ddd; }

/**
 * Tabbar 20170808
 * --------------------------------------------------
 */
.sm-tabbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 44px;
  background-color: #F7F7FA;
  border-top: 1px solid  #ddd; }

.sm-tabbar a {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  font-size: 13px;
  color: #808080; }

.sm-tabbar a.active {
  color: #6795f5; }

.sm-tabbar a i {
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }

.sm-tabbar a i:nth-child(2) {
  display: none; }

.sm-tabbar a.active i:nth-child(1) {
  display: none; }

.sm-tabbar a.active i:nth-child(2) {
  display: block; }

.sm-tabbar a i.icon-tb01 {
  background-image: url(images/icon-tb01.png); }

/*page padd*/
.sm-container {
  padding: 0 10px; }

.sm-container.isTb {
  padding-bottom: 50px; }
