//按钮样式

.sm-btn {
  position: relative;
  display: block;
  margin: 0 10px;
  padding-left: 1em;
  padding-right: 1em;
  font-size: $btn-font-size;
  text-align: center;
  text-decoration: none;
  line-height: $btn-height/$btn-font-size;
  border: 1px solid transparent;
  border-radius: $btn-border-radius;
  clear: both;
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    background-color: $btn-disabled-bg !important;
    color: rgba($black, .3) !important;
    border:1px solid rgba($black, .1) !important;
  }
  //主要
  &.primary {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  }
  //警告
  &.warning {
    @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
  }
  //有边框
  &.outline-primary {
    @include button-outline-variant($btn-primary-bg);
  }
  &.outline-warning {
    @include button-outline-variant($btn-warning-bg);
  }
  //小按钮
  &.mini{
    display: inline-block;
    clear: none;
    padding: 0 1.32em;
    line-height: $btn-height-mini;
    font-size: $btn-font-size-mini;
    z-index: 99
  }
  //链接按钮
  &.link-text-primary,
  &.link-text{
    color: $body-color;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  &.link-text-primary{
    color: $link-color;
  }
  
}


//兼容button标签
button, input{
  &.sm-btn {
    width: 100%;
    outline: 0;
    -webkit-appearance: none;
    &:focus {
        outline: 0;
    }
  }
}



