$brand-primary: #004E97;
$brand-warning: #805B01;
$brand-success: #004E97;
$brand-secondary: #f80;
$gray-lighter: #dedede;
$gray-light: #999;
$header-bg: #fff;
$body-bg: #f7f7f9;
$body-color: #000;
$tabbar-bg: #f7f7f9;
$border-radius: 5px;

//覆盖
.sm-panels .sm-panel > article > h4{
  font-size: 18px !important;
  font-weight: bold !important;
}