$brand-primary: #E12F3D;
$brand-warning: #C1AB19;
$brand-success: #5BD863;
$brand-secondary: #f90;
$gray-lighter: #ddd;
$gray-light: #888;
$header-bg: #E12F3D;
$body-bg: #ECECEC;
$body-color: #000;
$tabbar-bg: #222222;
$border-radius: 0;